<h1>{{title}}</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/addNewSpot" method="post" enctype="multipart/form-data">
      <div class="input">
        <label for="img">Image</label>
        <input type="file" name="myimg">
      </div>
      <div class="input">
        <label for="location">Location</label>
        <input type="text" placeholder="Enter Latitude" id="lat" name="lat">
        <input type="text" placeholder="Enter Longitude" id="lng" name="lng">
      </div>
      <div class="input">
        <label for="description">Description</label>
        <input type="text" id="description" name="description">
      </div>
      <div class="input">
        <label for="category">Category</label><br>
        <input name="categories" type="radio" id="Craftsman Bungalow">Craftsman Bungalow<br>
        <input type="radio" name="categories" value="Prairie Style">Prairie Style<br>
        <input type="radio" name="categories" value="Brutalist" checked>Brutalist<br>
      </div>
      <button type="submit">Add!</button>
    </form>
</section>
