<h1>{{title}}</h1>
<section class="insert">
    <form action="/Spot" method="post" enctype="multipart/form-data">
      <div class="input">
        <label for="img">Image</label>
        <input type="file" name="myimg">
      </div>
      <div class="input">
        <label for="location">Location</label>
        <input type="text" placeholder="Enter Latitude" id="lat" name="lat">
        <input type="text" placeholder="Enter Longitude" id="lng" name="lng">
      </div>
      <div class="input">
        <label for="description">Description</label>
        <input type="text" id="description" name="description">
      </div>
      <div class="input">
        <label for="category">Category</label><br>
        <input type="text" name="category">
      </div>
      <button type="submit">Add!</button>
    </form>
</section>
<script src="/main.js"></script>
<script>

// User location use this as reference for finding location

var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var coords = pos.coords;

  // auto populate coordinate fields for addSpot
  $('#lat').val(coords.latitude);
  $('#lng').val(coords.longitude);
};

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
};

navigator.geolocation.getCurrentPosition(success, error, options);

</script>
