<h1>{{title}}</h1>
<section class="insert #d7ccc8 brown lighten-4">
    <form action="/addSpot" method="post" enctype="multipart/form-data">
      <div class="input">
        <label for="img">Image</label>
        <input type="file" name="myimg">
      </div>
      <div class="input">
        <label for="location">Location</label>
        <input type="text" placeholder="Enter Latitude" id="lat" name="lat">
        <input type="text" placeholder="Enter Longitude" id="lng" name="lng">
      </div>
      <div class="input">
        <label for="description">Description</label>
        <input type="text" id="description" name="description">
      </div>
      <div class="input-field col s12">
        <select id="categories" name="category">
          <option value="" disabled selected>Choose a Category</option>
          <option value="A-Frame">A-Frame</option>
          <option value="Art Deco">Art Deco</option>
          <option value="Craftsman">Craftsman</option>
          <option value="Colonial">Colonial</option>
          <option value="Mid-Century Modern">Mid-Century Modern</option>
          <option value="Mediterranean">Mediterranean</option>
          <option value="Modern">Modern</option>
          <option value="Prairie">Prairie</option>
          <option value="Ranch">Ranch</option>
          <option value="Tudor">Tudor</option>
          <option value="Spanish">Spanish</option>
          <option value="Victorian">Victorian</option>
          <option value="Oriental">Oriental</option>
        </select>
      </div>
      <button type="submit">Add!</button>
    </form>
</section>
<script src="/main.js"></script>
<script>

  // User location use this as reference for finding location
  var options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
  };

  function success(pos) {
    var coords = pos.coords;

    // auto populate coordinate fields for addSpot
    $('#lat').val(coords.latitude);
    $('#lng').val(coords.longitude);
  };

  function error(err) {
    console.warn('Error(${err.code}): ${err.message}');
  };

  navigator.geolocation.getCurrentPosition(success, error, options);

</script>
