<div id="dl">
<!-- <a class='dropdown-button btn' href='#' data-activates='dropdown1'>View</a>
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Map</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>Gallery</a></li>
  </ul> -->
  <button id="map_btn"><i class="material-icons">location_on</i></button>
  <button id=gallery_btn><i class="material-icons">view_module</i></button>

</div>
<div id="map"></div>
<div id="gallery"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCawYohs-Q1mDjKO0-WwFZnKREoBnmEKX4&callback=initMap"></script>
<script src="../public/main.js"></script>
