<div id="options">
  <button id="map_btn" class="waves-effect waves-teal btn-flat" style="background-color: #ee6e73; color: #FFF"><i class="material-icons">location_on</i></button>
  <button id=gallery_btn class="waves-effect waves-teal btn-flat" style="background-color: #ee6e73; color: #FFF"><i class="material-icons">view_module</i></button>
</div>
<div id="map"></div>
<div id="gallery"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCawYohs-Q1mDjKO0-WwFZnKREoBnmEKX4&callback=initMap"></script>
<script src="../public/main.js"></script>
