#map {
  height: 100%;
  background-color: grey;
}

.headings {
  font-weight: bold;
  line-height: 0;
  color: #ee6e73;
}

.mapImg {
  max-width: 600px;
  max-height: 400px;
}

body, html {
  background-color: #fcfcfc;
  height: 100%;
}

h1 {
  color: #ee6e73;
}

.edt_btn {
  margin-top: -.825em;
  margin-right: .25em;
  float: right;
}

.card-content {
  text-align: left;
}

/*.card {
  max-height: 400px;
  max-width: 400px;
}*/

/*Dont touch anything above this*/
.billboard {
  position: relative;
  background-image: url("../public/assets/index_bg.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.billboard_overlay {
  position: absolute;
  bottom: 5.5em;
  left: 25%;
  display: table-cell;
}

.billboard_overlay > p {
  font-size: 24px;
  padding: .5em;
  color: #FFF;
}

.imgContainer {
  background-size: 400px 400px;

  background-repeat: no-repeat;
}
