#map {
  height: 100%;
  background-color: grey;
}

.headings {
  font-weight: bold;
  line-height: 0;
  color: #ee6e73;
}

.mapImg {
  max-width: 600px;
  max-height: 400px;
}

body, html {
  background-color: #fcfcfc;
  height: 100%;
}

h1 {
  color: #ee6e73;
}

.edt_btn {
  margin-top: -.825em;
  margin-right: .25em;
  float: right;
}

.card-content {
  text-align: left;
}

.billboard .photograph {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid green;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
}

.billboard .photograph img {
  position: relative;
  width: 100%;
}

.billboard_content {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  color: #FFF;
}

/*@media (max-width: 991px) {
  .billboard .photograph {
    height: 400px!important;
  }
}
*/
