#map {
  height: 100%;
  background-color: grey;
}

.headings {
  font-weight: bold;
  line-height: 0;
  color: #ee6e73;
}

.mapImg {
  max-width: 600px;
  max-height: 400px;
}

body, html {
  background-color: #fcfcfc;
  height: 100%;
}

h1 {
  color: #ee6e73;
}

.edt_btn {
  margin-top: -.825em;
  margin-right: .25em;
  float: right;
}

.card-content {
  text-align: left;
}
